
{% extends "main/layoute.html" %}

{% block title %}
  <title>новостная страница</title>
{% endblock %}


{% block content %}

<h1>новостная страница</h1>

 <ul>
        {% for post in news %}
            <li>
                <h2>{{ post.title }}</h2>
                <p><strong>Описание:</strong> {{ post.short_description }}</p>
                <p><strong>Новость:</strong> {{ post.text }}</p>
                <p><strong>Дата публикации:</strong> {{ post.pub_date }}</p>
                <p><strong>Имя пользователя:</strong> {{ post.user_name }}</p>
            </li>
        {% endfor %}
 </ul>


{% endblock %}


