
{% extends "main/layoute.html" %}

{% block title %}
  <title>1 Django page</title>
{% endblock %}


{% block content %}
    {% include 'main/nav.html'%}

<h1>Добро пожаловать на сайт {{caption}}!</h1>
    <br>
    <br>
<p>Мы рады видеть вас на нашем ресурсе, посвященном всему, что связано с миром {{caption}} и прекрасными кошками.</p> <p> Здесь вы найдете полезные статьи, инструкции и советы по использованию {{caption}} для разработки веб-приложений.</p>

<p>Наши материалы помогут как начинающим разработчикам, так и опытным профессионалам, желающим углубить свои знания и навыки.</p>

<p>Кроме того, мы делимся забавными фактами о кошках и советами по уходу за ними, чтобы ваш питомец был счастлив и здоров. Присоединяйтесь к нашему сообществу, и давайте вместе исследовать мир программирования и кошек!</p>

<p>Этот текст создаст дружелюбную и полезную атмосферу для ваших посетителей. Если нужно внести правки или адаптировать текст, дайте знать!</p>



{% endblock %}